In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
org_df = pd.read_csv("drug200.csv")
org_df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [3]:
org_df.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

In [4]:
print(org_df[["Drug"]].value_counts())
print(org_df[["BP"]].value_counts())
print(org_df[["Sex"]].value_counts())
print(org_df[["Cholesterol"]].value_counts())

Drug
drugY    91
drugX    54
drugA    23
drugB    16
drugC    16
dtype: int64
BP
HIGH      77
LOW       64
NORMAL    59
dtype: int64
Sex
M      104
F       96
dtype: int64
Cholesterol
HIGH           103
NORMAL          97
dtype: int64

In [5]:
X_data = org_df[["Age", "Sex", "BP", "Cholesterol", "Na_to_K"]].values
y_data = org_df["Drug"]
print(X_data[0:5])
print(y_data[0:5])

[[23 'F' 'HIGH' 'HIGH' 25.355]
 [47 'M' 'LOW' 'HIGH' 13.093]
 [47 'M' 'LOW' 'HIGH' 10.114]
 [28 'F' 'NORMAL' 'HIGH' 7.798]
 [61 'F' 'LOW' 'HIGH' 18.043]]
0    drugY
1    drugC
2    drugC
3    drugX
4    drugY
Name: Drug, dtype: object

In [6]:
from sklearn import preprocessing

le_sex = preprocessing.LabelEncoder()
le_sex.fit(["F", "M"])
X_data[:, 1] = le_sex.transform(X_data[:, 1])

le_BP = preprocessing.LabelEncoder()
le_BP.fit(["LOW", "NORMAL", "HIGH"])
X_data[:, 2] = le_BP.transform(X_data[:, 2])

le_cholesterol = preprocessing.LabelEncoder()
le_cholesterol.fit(["NORMAL", "HIGH"])
X_data[:, 3] = le_cholesterol.transform(X_data[:, 3])

X_data[0:5]

array([[23, 0, 0, 0, 25.355],
       [47, 1, 1, 0, 13.093],
       [47, 1, 1, 0, 10.114],
       [28, 0, 2, 0, 7.798],
       [61, 0, 1, 0, 18.043]], dtype=object)

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, train_size = 0.3, random_state = 3)

In [8]:
from sklearn.tree import DecisionTreeClassifier
drug_tree = DecisionTreeClassifier(criterion = "entropy", max_depth = 4)
drug_tree.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [9]:
y_ = drug_tree.predict(X_test)

print(y_test[0:5])
print(y_[0:5])

40     drugY
51     drugX
139    drugX
197    drugX
170    drugX
Name: Drug, dtype: object
['drugY' 'drugX' 'drugX' 'drugX' 'drugX']

In [10]:
from sklearn import metrics
print("Decision tree's accuracy:", metrics.accuracy_score(y_test, y_))

Decision tree's accuracy: 0.9928571428571429